{% extends 'weatherapp/layout/index.html' %}
{% load static %}
{% block content %}

<style>
    body {
      font-family: Arial;
    }
    
    * {
      box-sizing: border-box;
    }
    
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
    }
    
    form.example button {
      float: left;
      width: 20%;
      padding: 15px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
    }
    
    form.example button:hover {
      background: #0b7dda;
    }
    
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>

    
    <div class="mt-5">
      <form action="{% url 'login' %}" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
          
    </div>

   
  

{% endblock %}